<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Add New Rabbit</title>
</head>
<body>
    <main>
        <h1>Add Rabbit Info Here!!!</h1>
        <form action="/new" method="POST">
            <nav>
                <div>
                    <h2>Add a New Rabbit</h2>
                </div>
                <div class="homeButton">
                    <a href="/">Home</a>
                </div>
            </nav>
            <% if( messages.messageError ){ %>
                <div class="error">
                        <p> <%= messages.messageError %> </p>
                </div>
            <% } %>
            <div class="fillSpace">
                <label for="name">
                    First Name:
                </label>
                <input type="text" id="name" name="name" />
            </div>
            <div class="fillSpace">
                <label for="color">
                    Color:
                </label>
                <input type="text" id="color" name="color" />
            </div>
            <div class="fillSpace">
                <label for="weight">
                    Weight (kg):
                </label>
                <input type="number" id="weight" name="weight"/>
            </div>
            <div class="fillSpace">
                <label for="height">
                    Height (cm):
                </label>
                <input type="number" id="height" name="height"/>
            </div>
            <div class="fillSpace">
                <label for="health">
                    Health status:
                </label>
                <input type="text" id="health" name="health"/>
            </div>
            <button type="submit" value="Add User">
                Add Rabbit
            </button>
        </form>
    </main>
</body>
</html>